#learningJumboWrapper {
    height: 100vh;
    width: 100%;
    background-image: url("../assets/pics/course.jpg");
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    padding-top: 25vh;
}

#jumboHead {
    font-size: 18rem;
    text-align: center;
    color: #fff;
    background-color: #00000050;
    padding: 0 1rem;
    
}

@media (max-width: 768px) {
    #jumboHead {
        font-size: 8rem;
    }
    #learningJumboWrapper {
        padding-top: 35vh;
    }
}