#mentorshipJumboWrapper {
    height: 100vh;
    width: 100%;
    background-image: url("../assets/pics/peopleRow.jpg");
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    padding-top: 25vh;
}

#mentorshipjumboHead {
    font-size: 18rem;
    text-align: center;
    color: #fff;
    background-color: #00000030;
    padding: 0 1rem;
}

@media (max-width: 768px) {
    #mentorshipjumboHead {
        font-size: 8rem;
    }
    #mentorshipJumboWrapper {
        padding-top: 35vh;
    }
}
    
